asgiref
attrs
btrfsutil
cffi
charset-normalizer
cryptography
dbus-python
Django
docopt
idna
keyutils
netsnmp-python
nftables
npyscreen
packaging
pacman_mirrors
pillow
pycairo
pycparser
pycups
PyGObject
PyQt5
PyQt5_sip
pysmbc
pytz
PyYAML
reportlab
requests
smbus
sqlparse
TBB
udiskie
urllib3
wheel
gunicorn