/* imported styles */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Playwrite+DK+Uloopet:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Playwrite+DK+Uloopet:wght@100..400&family=Tangerine:wght@400;700&display=swap");

/* end of imports */

body {
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* width: fit-content; */
}

body > header {
  color: rgb(233, 156, 14);
  text-align: center;
  background: linear-gradient(white, bisque);
}
body > header h2 {
  font-size: xx-large;
  margin: 0px;
  padding-top: 1em;
  letter-spacing: 0.125rem;
}
body > header p {
  margin: 0px;
  /* font-family: "Playwrite DK Uloopet"; */
  font-size: x-small;
  margin-top: -0.5rem;
}
#foundation {
  padding: 0px 0.5rem;
  padding-top: 1rem;
  /* padding-left: 0.25rem; */
  background-color: bisque;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 2rem;
}
#foundation header {
  font-family: Charmonman;
  text-align: center;
  text-shadow: 1px 0.25px BLACK;
  font-size: large;
}
#foundation span {
  font-family: Charmonman;
}
#foundation h3 {
  margin: 0px;
  text-align: left;
  padding-left: 2rem;
}
#foundation p {
  margin: 0px 0.5rem;
  /* font-family: Tangerine, Helvetica, sans-serif; */
  /* font-size: 1.25em; */
  /* color: brown; */
  /* font-weight: bold; */
}
#services {
  text-align: center;
  position: relative;
  z-index: 5;
  box-shadow: 0px 0px 5px grey;
}
#services header {
  color: blue;
  background: linear-gradient(bisque, white);
  font-family: "Times New Roman", Times, serif;
}
#services header h3 {
  margin: 0px;
  padding: 1em 0px 0.5em 0em;
}
#services section article > h1 {
  font-weight: bold;
  margin-top: 0em;
  padding-bottom: 0.25em;
  grid-column: 1 / span 2;
  border-bottom: 1px solid bisque;
}
#services section article {
  /* box-shadow: 0px 0px 3px black; */
  margin: 0rem 0.5rem 2rem;
  padding: 0.5rem 0.5rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-color: white;
  overflow: hidden;
}
#services section article .services {
  text-align: left;
  grid-column: 1 / span 1;
}
#services section article .services {
  display: grid;
}
.services div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 1s ease;
  height: 12rem;
  overflow: hidden;
  align-items: center;
}
.services div p {
  margin: 0.25em;
  padding: 0.25em;
}
.services div p:first-child {
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
  grid-column: 1 / span 2;
  color: teal;
}
.services .active {
  opacity: 1;
  /* transform: translateX(0%); */
}
.services .inactive-out {
  opacity: 0;
  /* margin-left: 50%; */
  transform: translateX(50%);
}
.services .inactive-in {
  opacity: 0;
  transform: translateX(-50%);
}
.hide {
  display: none;
}
.services footer {
  background-color: white;
}
.services footer .outer {
  height: 15px;
  width: 15px;
  background-color: red;
  text-align: center;
}
.services footer .inner {
  height: 5px;
  width: 5px;
  background-color: white;
  text-align: center;
}
#services section article .images {
  /* grid-column: 2 / span 1; */
  background-color: white;
  /* border-left: 1px solid black; */
  /* background-color: lightblue; */
  /* height: 150px; */
}
#services section article:last-child {
  margin-bottom: 0px;
}
#services footer {
  height: 3em;
  background: linear-gradient(white, #6495edb5);
}
#portfolio {
  background-color: burlywood;
}
.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #6495edb5;
  position: relative;
  z-index: 1;
  padding-bottom: 1em;
}
.team header {
  font-weight: bold;
  font-size: large;
  grid-column: 1 / span 2;
}
.team header h2 {
  width: -webkit-fill-available;
  text-align: center;
  color: navy;
  /* box-shadow: inset 0px 13px 12px #a5a5a5;
  background: linear-gradient(white, cornflowerblue); */
}
.team article {
  box-shadow: 0px 0px 5px black;
  padding: 0.25rem;
  margin: 0.5rem;
  text-align: center;
  color: white;
  background-color: #190253;
  width: -webkit-fill-available;
}
.photo-img {
  height: 150px;
  /* width: 175px; */
  background-color: aquamarine;
}
.photo-img img {
  height: 150px;
  width: 100%;
}
.photo-img hr {
  color: navy;
}
.team article div:last-child {
  margin-top: 0.5rem;
}
.team article div p {
  margin: 0.25rem 0px;
}
footer {
  background-color: #141414;
  color: #ffe6ca;
  text-align: center;
  padding: 1rem;
}
footer h2 {
  margin-top: 0px;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: teal;
}
footer a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0.5rem auto;
}
footer a:visited {
  text-decoration: none;
  color: white;
}
footer section p {
  margin-bottom: 0px;
}
