<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trifekta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <script
      src="https://kit.fontawesome.com/ebf5447685.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="{% static 'home.js' %}"></script>
  </head>
  <body>
    <section>
      <!-- Welcome to the official website of trifekta plumbing services -->
    </section>
    <header>
      <h2>Trifekta</h2>
      <p>Where cost meets quality and affordability</p>
    </header>
    <section id="foundation">
      <header><h3>Our Journey</h3></header>
      <p>
        Trifekta was formed in early 2021 when a small group of technicians
        formed a group and started working together in various
        projects,delivering seveal forms of expertise therefore ensuring best
        quality of service to customers and making it easier for customers to
        have the opportunityt to get different services from a sole company
      </p>
      <p>
        We mainly deal with mechanical works ranging from plumbing, electrical
        systems, heating and cooling systems,lifts,elevetors and ventilation
        systems
      </p>
    </section>
    <!-- <section>
  <p>
    We look forward to a future where our clients can access our services on all forms of mechanical works and rely on our team of experts to install,maintain, repair or renovate in whole or part in their systems
  </p>
</section> -->
    <section id="services">
      <header><h3>Services</h3></header>
      <section>
        <article>
          <h1>Pumps and motors</h1>
          <section class="services">
            <div class="active">
              <p>Replacements</p>
              <p>
                Do you have a worn out pump or motor?Want to upgrade. Giving the
                best advice we will help you achieve what you want
              </p>
              <section class="images"></section>
            </div>

            <div class="inactive-in" style="display: none">
              <p>installations</p>
              <p>
                We install pumps both submersible and ordinary pumps. We also
                provide after services such as repairs
              </p>
              <section class="images">
                <img style="width: 100%" src="{% static 'pump.jpg' %}" />
              </section>
            </div>
            <div class="inactive-in" style="display: none">
              <p>Repairs and maintenace</p>
              <p>
                After long usage of motors require servicing. We service old
                pumps and get them back to work in no time.
              </p>
              <section class="images">
                <img
                  style="width: 100%; height: fit-content"
                  src="{% static 'repair.png' %}"
                />
              </section>
            </div>
          </section>
        </article>

        <article>
          <h1>Plumbing services</h1>
          <section class="services">
            <div class="active">
              <p>design & Consultations</p>
              <section class="images">
                <img
                  style="width: 100%; height: fit-content"
                  src="{% static 'design.png' %}"
                />
              </section>
              <p>
                We design piping works,Giving a proffessional touch to your
                projects, from commercial water supply lines to plumbing works
                of aparments.
              </p>
            </div>

            <div class="inactive-in" style="display: none">
              <p>Installation of water related fittings</p>
              <section class="images"></section>
              <p>We install water fittings and other related fittings</p>
            </div>
          </section>
        </article>
      </section>
      <footer></footer>
    </section>
    <!-- <section id="portfolio">
      <header>Portfolio</header>
      <p>Some of our outstanding clients and works are showcased below</p>
      <a>Show full portfolio >></a>
    </section> -->
    <section class="team">
      <header><h2>Our team</h2></header>
      <article>
        <div class="photo-img"><img src="{% static 'pfp.png' %}" /></div>
        <div>
          <hr />
          <p>James Samuel</p>
          <p>Water engineer</p>
        </div>
      </article>
      <article>
        <div class="photo-img"><img src="{% static 'pfp.png' %}" /></div>
        <div>
          <hr />
          <p>Kamau Peter</p>
          <p>Water engineer</p>
        </div>
      </article>
      <article>
        <div class="photo-img"><img src="{% static 'pfp.png' %}" /></div>
        <div>
          <hr />
          <p>Peter Ndonye</p>
          <p>Water engineer</p>
        </div>
      </article>
      <article>
        <div class="photo-img"><img src="{% static 'pfp.png' %}" /></div>
        <div>
          <hr />
          <p>Antony Wairimu</p>
          <p>Water engineer</p>
        </div>
      </article>
    </section>
    <footer>
      <h2>Contact us</h2>

      <a href="mailto: emmanuelryley55@gmail.com"
        ><i class="fa-regular fa-envelope"></i> trifekta@gmail.com</a
      >

      <a href="tel:+254741040806">
        <i class="fa-solid fa-phone"></i> +254741040806</a
      >

      <section>
        <h2>Our social platforms are</h2>
        <div>
          <p>
            <a href="https://wa.me/+254702031271"
              ><i class="fa-brands fa-whatsapp"> </i>Whatsapp</a
            >
          </p>
        </div>
      </section>
      <div></div>
      <div></div>
    </footer>
  </body>
</html>
