<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio.css' %}" />
  </head>
  <body>
    <section>
      <header>Solar water heater installations</header>
      <p></p>
    </section>
    <section>
      <header>House sanitary-ware installation</header>
      <p>
        This includes design of house waster water management system from soak
        pits to design of man holes for various waste water and installation of
        the prerequisite waste drainage pipes and house sanitary ware.
      </p>
      <artcile><p>Photo section slideshow</p> </artcile>
    </section>
  </body>
</html>
